@page "/guide"

<div class="guide">
    <section class="guide--hero">
        <div class="header">
            <h1>Blossom 101</h1>
            <p class="subtitle-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquetv odio mattis.</p>
        </div>
        <div class="ask-questions">
            <input type="text" placeholder="Ask any questions here" />
            <button class="button-ask"><img src="images/Arrow Forward.png" /></button>
        </div>
    </section>
    <section class="guide--categories">
        <div class="category">
            <p class="subtitle-1">Begin here</p>
            <div class="guide--heading">
                @if (Section == "what-is-blossom")
                {
                    <img src="images/Asterisk Four Lines.png" class="asterisk" />
                }
                <h2 @onclick="@(e=> ToggleSection("what-is-blossom"))">Get to know Blossom</h2>
            </div>
            @if (Section == "what-is-blossom")
            {
                <Sparc.Blossom.Server.GuideContent.GetToKnowBlossom />
            }
            <div class="guide--heading">
                @if (Section == "install")
                {
                    <img src="images/Asterisk Four Lines.png" class="asterisk" />
                }
                <h2 @onclick="@(e=> ToggleSection("install"))">Install</h2>
            </div>
                @if(Section == "install")
                {
                    <Sparc.Blossom.Server.GuideContent.Install />
                }
            <div class="guide--heading">
                @if (Section == "tutorial")
                {
                    <img src="images/Asterisk Four Lines.png" class="asterisk" />
                }
                <h2 @onclick="@(e=> ToggleSection("tutorial"))">Tutorial</h2>
            </div>
            <div class="guide--heading">
                @if (Section == "customization")
                {
                    <img src="images/Asterisk Four Lines.png" class="asterisk" />
                }
                <h2 @onclick="@(e=> ToggleSection("customization"))">Customization</h2>
            </div>          
        </div>
        <div class="category">        
            <p class="subtitle-1">enjoy</p>
            <div class="guide--heading">
                @if (Section == "tipstricks")
                {
                    <img src="images/Asterisk Four Lines.png" class="asterisk" />
                }
                <h2 @onclick="@(e=> ToggleSection("tipstricks"))">Tips and Tricks</h2>
            </div>
            <div class="guide--heading">
                @if (Section == "tools")
                {
                    <img src="images/Asterisk Four Lines.png" class="asterisk" />
                }
                <h2 @onclick="@(e=> ToggleSection("tools"))">Tools</h2>
            </div>
            <div class="guide--heading">
                @if (Section == "features")
                {
                    <img src="images/Asterisk Four Lines.png" class="asterisk" />
                }
                <h2 @onclick="@(e=> ToggleSection("features"))">Features</h2>
            </div>
        </div>
        <div class="category">
            <p class="subtitle-1">errors</p>
            <div class="guide--heading">
                @if (Section == "troubleshooting")
                {
                    <img src="images/Asterisk Four Lines.png" class="asterisk" />
                }
                <h2 @onclick="@(e=> ToggleSection("troubleshooting"))">Troubleshooting</h2>
            </div>
            <div class="guide--heading">
                @if (Section == "contact")
                {
                    <img src="images/Asterisk Four Lines.png" class="asterisk" />
                }
                <h2 @onclick="@(e=> ToggleSection("contact"))">Contact us</h2>
            </div>
        </div>
    </section>
</div>
<Footer />


@code {
    public string Show = "";
    public string Section = "";
    public string SubSection = "one";

    private void ToggleSection(string sectionName)
    {
        if (Section == sectionName)
        {
            Section = "";
        }
        else
        {
            Section = sectionName;
        }
       
        //if (Show == "show")
        //{
        //    Show = "";
        //}
        //else
        //{
        //    Show = "show";
        //}
    }
}